
# This token expires after 24 hours. You can get a new one from the your Meta App Dashboard > API Setup
# Or you can create an access token at the System User level from the Meta Business Settings: https://business.facebook.com/settings/system-users

ACCESS_TOKEN=""

APP_ID=""
APP_SECRET=""
RECIPIENT_WAID="" # Your WhatsApp number with country code (e.g., +31612345678)
VERSION="v18.0"
PHONE_NUMBER_ID=""

VERIFY_TOKEN=""

OPENAI_API_KEY=""
OPENAI_ASSISTANT_ID=""